/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~normalize.css/normalize.css';
@import './css/design-core.scss';
@import './css/design-nice.scss';
@import './css/mat.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica', sans-serif;
  color: #404040;
}
html,
body,
app-root {
  min-height: 100vh;
}
p {
  margin: 0;
}

.star-wars-font {
  --blur: 0px;
  --offset: 1px;
  --neg-offset: -1px;
  font-family: sans-serif;
  font-weight: 900;
  color: #000;
  text-shadow: 
    var(--offset) 0 var(--blur) yellow, 
    var(--neg-offset) 0 var(--blur) yellow,
    0 var(--offset) var(--blur) yellow, 
    0 var(--neg-offset) var(--blur) yellow;
}

@keyframes background-offset {
  0% {background-position: 100% 0;}
  100% {background-position: 90% 10%;}
}

@media (max-width: 780px) {
  @keyframes background-offset {
    0% {background-position: 100% 0;}
    100% {background-position: 95% 5%;}
  }
}