:root {
  --app-bg-color: rgba(0,0,0,.3);
  --text-color: #fff;
  --root-background-image: url(./assets/images/sw-planets.jpg);
  --header-text-shadow: 1px 1px 3px #ffb524;
  --link-color: yellow;
  --hover-row-bg-color: rgba(0, 0, 0, 0.8);
  --detail-bg-color: rgba(0, 0, 0, 0.8);
  --mat-color-disabled: rgba(255,255,255,.3);
  --mat-select-underline-color: #fff;
  --mat-box-shadow: 0 0 4px #000;
}